{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Accueil | {{ parent() }} {% endblock %}


{%  block body %}

{#    code à utiliser pour afficher l'image de l'user dans le site#}
{#    <p>test pour affichage de l'image utilisateur</p>#}
{#    {% if (app.user) %}#}
{#        {% if(app.user.avatar) %}#}
{#            <p>Ceci est une image qui pourrait accompagner les sorties</p>#}
{#            <div class="avatarpage"#}
{#                 style="background-image: url('{{ asset('img/' ~ app.user.avatar) }}');">#}
{#            </div>#}
{#            <p>Ceci est une image qui pourrait aller dans la navbar</p>#}
{#            <div class="avatarnav"#}
{#                 style="background-image: url('{{ asset('img/' ~ app.user.avatar) }}');">#}
{#            </div>#}
{#        {% else %}#}
{#            <p>Ceci est l'image qui s'affiche si la personne n'as pas chargé sa photo</p>#}
{#            <div class="avatarpage"#}
{#                 style="background-image: url('{{ asset('img/emoticons.jpg') }}');">#}
{#            </div>#}
{#            <p>voici sa version pour la nav bar</p>#}
{#            <div class="avatarnav"#}
{#                 style="background-image: url('{{ asset('img/emoticons.jpg') }}');">#}
{#            </div>#}
{#        {% endif %}#}
{#    {% endif %}#}
{#    <p></p>#}

    {{ form_start(searchForm) }}
    {{ form_widget(searchForm) }}

    <button  type="submit" class="btn btn-outline-warning">Rechercher</button>

    {{ form_end(searchForm) }}


    <div class="custom-table">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Nom sortie</th>
            <th scope="col">Date sortie</th>
            <th scope="col">Clôture</th>
            <th scope="col">Inscrits/Places</th>
            <th scope="col">Etat</th>
            <th scope="col">Inscrit</th>
            <th scope="col">Organisateur</th>
            <th scope="col">Actions</th>

        </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td> {{ sortie.nom }}</td>
                <td> {{ sortie.dateHeureDebut | date('d/m/Y à H:i')}}</td>
                <td> {{ sortie.dateLimitInscription | date('d/m/Y')}}</td>
                <td> {{ sortie.participant.count }} / {{ sortie.nbInscriptionsMax }}</td>
                <td> {{ sortie.etat.libelle }}</td>
                <td> X </td>
                <td><a href="{{ path('utilisateur_profilid', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.pseudo }}</a></td>
                <td> actions à coder</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <button  type="button" class="btn btn-outline-warning" onclick="window.location.href ='{{ path('creer') }}'">Creer une sortie</button>

{% endblock %}