{% extends 'base.html.twig' %}

{% block title %} Accueil | {{ parent() }} {% endblock %}


{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-sm-4">

                <div class="card">
                    <div class="card-body">

                        <h5 class="card-title">
                            {% if (app.user) %}
                                <div class="d-flex justify-content-center text-center">

                                    {% if(app.user.avatar) %}
                                        <div class="avatarpage"
                                             style="background-image: url('{{ asset('img/' ~ app.user.avatar) }}'); margin-top: 5%">
                                        </div>

                                    {% else %}
                                        <div class="avatarpage"
                                             style="background-image: url('{{ asset('img/emoticons.jpg') }}');margin-top: 5%">
                                        </div>
                                    {% endif %}

                                    <p></p>

                                </div>
                                <p class="text-center">Bonjour {{ app.user.pseudo }} </p>
                            {% endif %}

                            <br>
                            Bienvenue sur sortir.com, le site pour les activités extrascolaire des étudiants ENI.
                        </h5>

                        {% if app.user %}
                            <span class="ghost">
                        <p class="card-text">
                            Recherche et inscris-toi aux activités qui t'intéressent, ou clique ci-dessous pour en proposer une :</p>
                            <button type="button" class="btn btn-warning btn-sm"
                                    onclick="window.location.href ='{{ path('creer') }}'">Proposer une sortie</button>

                          </span>

                            <span class="ghost2">
                        <p class="card-text">
                            Recherche et inscris-toi aux activités qui t'intéressent.</p>
                          </span>

                        {% else %}
                            <span class="ghost">
                                <br>
                        <p class="card-text">
                            Connecte-toi pour rechercher et t'inscrire aux activités qui t'intéressent, ou pour en proposer des nouvelles. </p>
{#                                {% if not app.user %}#}
                                    <img src="{{ asset('img/logo.png') }}" alt="icone" style="width: 70%; margin-left: 10% ">
{#                                {% endif %}#}
                        </span>
                            <span class="ghost2">
                        <p class="card-text">
                            Connecte-toi pour rechercher et t'inscrire aux activités qui t'intéressent. </p>
                        </span>
                        {% endif %}


                    </div>
                </div>
            </div>

            {#                    <span class="ghost"> #}

            <div class="col-sm-8">
                <span class="ghost">
                <div class="card ">
                    <h5 class="card-header">Cherche entre les sorties</h5>
                    <div class="card-body">


                        {{ form_start(searchForm) }}
                        <table>
                            <tr>
                                <td>
                                    {{ form_row(searchForm.search) }}
                                </td>
                                <td></td>
                                <td>
                                    {{ form_row(searchForm.campus) }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ form_row(searchForm.dateDebut) }}
                                </td>
                                <td></td>
                                <td>
                                    {{ form_row(searchForm.dateFin) }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ form_row(searchForm.ouvertes) }}
                                </td>
                                <td></td>
                                <td>
                                    {{ form_row(searchForm.dejaPassee) }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ form_row(searchForm.inscrit) }}
                                </td>
                                <td>&nbsp; &nbsp; &nbsp;</td>
                                <td>
                                    {{ form_row(searchForm.pasInscrit) }}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    {{ form_row(searchForm.organisateur) }}
                                </td>

                                <td>
                                    <button type="submit" class="btn btn-warning btn-sm">Rechercher</button>
                                </td>

                            </tr>

                        </table>


                        {{ form_end(searchForm) }}


                    </div>
                </div>
            </div>
            </span>
        </div>
        {#        </span> #}
    </div>



    {#    code à utiliser pour afficher l'image de l'user dans le site #}
    {#    <p>test pour affichage de l'image utilisateur</p> #}
    {#    {% if (app.user) %} #}
    {#        {% if(app.user.avatar) %} #}
    {#            <p>Ceci est une image qui pourrait accompagner les sorties</p> #}
    {#            <div class="avatarpage" #}
    {#                 style="background-image: url('{{ asset('img/' ~ app.user.avatar) }}');"> #}
    {#            </div> #}
    {#            <p>Ceci est une image qui pourrait aller dans la navbar</p> #}
    {#            <div class="avatarnav" #}
    {#                 style="background-image: url('{{ asset('img/' ~ app.user.avatar) }}');"> #}
    {#            </div> #}
    {#        {% else %} #}
    {#            <p>Ceci est l'image qui s'affiche si la personne n'as pas chargé sa photo</p> #}
    {#            <div class="avatarpage" #}
    {#                 style="background-image: url('{{ asset('img/emoticons.jpg') }}');"> #}
    {#            </div> #}
    {#            <p>voici sa version pour la nav bar</p> #}
    {#            <div class="avatarnav" #}
    {#                 style="background-image: url('{{ asset('img/emoticons.jpg') }}');"> #}
    {#            </div> #}
    {#        {% endif %} #}
    {#    {% endif %} #}
    {#    <p></p> #}


    {# <span class="ghost2"> #}
    {#    {{ form_start(searchForm) }} #}
    {#    {{ form_widget(searchForm) }} #}
    {#    <button  type="submit" class="btn btn-outline-warning">Rechercher</button> #}
    {#    {{ form_end(searchForm) }} #}
    {# </span> #}

    <br>
    <span class="ghost">

            <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                      <h5 class="card-header">Voici toutes les sorties organisées</h5>
                    <div class="card-body">

    <div class="custom-table">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Date</th>
            <th scope="col">Fin des inscriptions</th>
            <th scope="col">Inscrits/Places</th>
            <th scope="col">Etat</th>
            <th scope="col">Inscrit</th>
            <th scope="col">Organisateur</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <!--tableau affichage connectée-->
        {% for sortie in sorties %}
            {% if app.user and sortie.etat.libelle == "Créée" and sortie.organisateur.id == app.user.id %}
                <tr>
                <td>{{ sortie.nom }}</td>
                <td> {{ sortie.dateHeureDebut | date('d/m/Y à H:i') }}</td>
                <td> {{ sortie.dateLimitInscription | date('d/m/Y') }}</td>
                <td> {{ sortie.participant.count }} / {{ sortie.nbInscriptionsMax }}</td>
                <td> {{ sortie.etat.libelle }}</td>
                {% if app.user in sortie.participant %}
                    <td> ✓ </td>
                      {% else %}
                    <td><p> </p></td>
                {% endif %}
                <td><a href="{{ path('utilisateur_profilid', {'id': sortie.organisateur.id}) }}" class="lienTableau">{{ sortie.organisateur.pseudo }}</a></td>
                {% if app.user %}
                    <td> <a href="{{ path('sortie_detailssortie', {'id': sortie.id}) }}" class="lienTableau">Afficher</a></td>
                    {% else %}
                    <td><p> </p></td>
                {% endif %}
            </tr>
            {% endif %}
        {% endfor %}
        <!--tableau affichage utilisateur déconnecté-->
        {% for sortie in sorties %}
            {% if  sortie.etat.libelle == "Ouverte"
                or sortie.etat.libelle == "Passée"
                or sortie.etat.libelle == "Annulée"
                or sortie.etat.libelle == "Activité en cours"
                or sortie.etat.libelle == "Clôturée" %}
                <tr>
                <td>{{ sortie.nom }}</td>
                <td> {{ sortie.dateHeureDebut | date('d/m/Y à H:i') }}</td>
                <td> {{ sortie.dateLimitInscription | date('d/m/Y') }}</td>
                <td> {{ sortie.participant.count }} / {{ sortie.nbInscriptionsMax }}</td>
                <td> {{ sortie.etat.libelle }}</td>
                {% if app.user in sortie.participant %}
                    <td style="color: black"> ✓ </td>
                      {% else %}
                    <td><p> </p></td>
                {% endif %}
                <td><a href="{{ path('utilisateur_profilid', {'id': sortie.organisateur.id}) }}" class="lienTableau">{{ sortie.organisateur.pseudo }}</a></td>
                {% if app.user %}
                    <td> <a href="{{ path('sortie_detailssortie', {'id': sortie.id}) }}" class="lienTableau">Afficher</a></td>
                    {% else %}
                    <td><p> </p></td>
                {% endif %}
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    </div>
                    </div>
                </div>
            </div>
        </div>
            </div>
    <br>

    </span>
    <p></p>
    <p></p>


    <span class="ghost2">
    {% if (app.user) %}

        <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                      <h5 class="card-header">Voici les sorties sur ton campus</h5>
                    <div class="card-body">

     <div class="custom-table">
        <table class="table table-striped">
            <thead>
            <tr>
{#                <th scope="col">Campus</th> #}
                <th scope="col">Nom sortie</th>
                <th scope="col">Date</th>
                <th scope="col">Lieu</th>
{#                <th scope="col">Clôture</th>#}
                {#                <th scope="col">Inscrits/Places</th>#}
                {#                <th scope="col">Etat</th>#}
                {#                <th scope="col">Inscrit</th>#}
                {#                <th scope="col">Organisateur</th>#}
                {#                <th scope="col">Actions</th>#}

            </tr>
            </thead>
            <tbody>

{#           exemple de code pour enchainer les filtres #}
{#            {% for sortie in sorties|filter(sortie => sortie.campus.nom == app.user.campus.nom) | filter(sortie => app.user in sortie.participant)  %} #}
{# {% for sortie in sorties|filter(sortie => sortie.campus.nom == app.user.campus.nom)|filter(sortie => sortie.etat.libelle == "Ouverte") %} #}

{% for sortie in sorties|filter(sortie => sortie.campus.nom == app.user.campus.nom) %}
    {# {% for sortie in sorties|filter(sortie => sortie.etat.libelle == "Ouverte") %} #}
    <tr>
{#                    <td>{{ sortie.campus.nom }}</td> #}
        <td><a href="{{ path('sortie_detailssortie', {'id': sortie.id}) }}">{{ sortie.nom }}</a></td>
                    <td> {{ sortie.dateHeureDebut | date('d/m/Y à H:i') }}</td>
                    <td>{{ sortie.lieu.nom }}</td>
{#                    <td> {{ sortie.dateLimitInscription | date('d/m/Y') }}</td> #}
        {#                    <td> {{ sortie.participant.count }} / {{ sortie.nbInscriptionsMax }}</td> #}
        {#                    <td> {{ sortie.etat.libelle }}</td> #}
        {#                    {% if app.user in sortie.participant %} #}
        {#                        <td> X </td> #}
        {#                    {% else %} #}
        {#                        <td><p> </p></td> #}
        {#                    {% endif %} #}
        {#                    <td><a href="{{ path('utilisateur_profilid', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.pseudo }}</a></td> #}
        {#                    <td> <a href="{{ path('sortie_detailssortie', {'id': sortie.id}) }}">Afficher</a></td> #}

        {#                      {% if "today" < sortie.dateHeureDebut|date_modify("+ 1 month") %} #}
        {#                      {% endif %} #}
                </tr>

{% endfor %}
            </tbody>
        </table>
    </div>

                        </div>
                </div>
            </div>
        </div>
            </div>


    {% else %}


        <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                      <h5 class="card-header">Voici les sorties sur ton campus</h5>
                    <div class="card-body">
 <p>Pour afficher la liste de sortie, il faut se connecter.</p>


                        </div>
                </div>
            </div>
        </div>
            </div>

    {% endif %}
</span>

{% endblock %}