{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Espace de gestion des campus disponibles</h2>
            <br>
            <img style="width: 150px; margin-bottom: 20px" src="{{ asset('img/campusColor.png') }}" alt="campus">
            <br>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <h5 class="card-header">Liste des campus </h5>
                    <div class="card-body">
                        <div class="custom-table">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">Campus</th>
                                    <th scope="col">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for campus in listeCampus %}

                                    <tr>
                                        <td>{{ campus.nom }}</td>
                                        <td><a href="{{ path('admin_modifierCampus', {'id': campus.id}) }}" class="lienTableau">Modifier</a> - <a href="{{ path('admin_supprimerCampus', {'id': campus.id}) }}" class="lienTableau">Supprimer</a></td>
                                    </tr>
                                {% endfor %}

                                <tr>
                                    {{ form_start(nouveauCampusForm) }}
                                    <td>{{ form_widget(nouveauCampusForm) }}</td>
                                    <td><button type="submit" class="btn btn-warning ">Ajouter</button></td>
                                    {{ form_end(nouveauCampusForm) }}
                                </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
                <br>
                <a href="{{ path('admin_control') }}"><button type="button" class="btn btn-secondary btn-sm">Retour</button></a>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>













































{#    <h4>Gestion des campus</h4>#}

{#<div class="custom-table">#}
{#    <table class="table table-striped">#}
{#        <thead>#}
{#        <tr>#}
{#            <th scope="col">Campus</th>#}
{#            <th scope="col">Actions</th>#}
{#        </tr>#}
{#        </thead>#}

{#        <tbody>#}
{#        {% for campus in listeCampus %}#}

{#            <tr>#}
{#                <td>{{ campus.nom }}</td>#}
{#                <td><a href="{{ path('admin_modifierCampus', {'id': campus.id}) }}">Modifier</a> - <a href="{{ path('admin_supprimerCampus', {'id': campus.id}) }}">Supprimer</a></td>#}
{#            </tr>#}
{#        {% endfor %}#}

{#            <tr>#}
{#                {{ form_start(nouveauCampusForm) }}#}
{#                <td>{{ form_widget(nouveauCampusForm) }}</td>#}
{#                <td><button type="submit">Ajouter</button></td>#}
{#                {{ form_end(nouveauCampusForm) }}#}
{#            </tr>#}
{#        </tbody>#}

{#    </table>#}
{#</div>#}
{% endblock %}

{% block title %}

    Gérer les campus | {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

