{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <p></p>
                <h1 class="h3 mb-3 font-weight-normal">Modifier la ville</h1>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">

                <div class="card" style="width: 28rem;">
                    <div class="card-body">
                        {{ form_start(modifierVilleForm) }}
                        {{ form_widget(modifierVilleForm) }}
                        <a href="{{ path('admin_liste_villes') }}"><button type="button" class="btn btn-warning ">Annuler</button></a>
                        <button type="submit" class="btn btn-warning ">Modifier</button>
                        {{ form_end(modifierVilleForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block title %}
    Modifier Ville | {{ parent() }}
{% endblock %}
