{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Créer une sortie{% endblock %}

{% block body %}
    <div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <p> </p>
        </div>
    </div>
    <div class="row">
    {#  {{render(controller('App\\Controller\\SortieController::choixLieu'))}}#}
        {#  {% include ('sortie/lieuxSortie.html.twig') with {'lieuType':lieuType}%}#}

        <div class="col d-flex justify-content-center">
            <p> </p>
            <h1 class="h3 mb-3 font-weight-normal">Créer une sortie</h1>
        </div>
    </div>

    <div class="row">
    <div class="col-12 d-flex justify-content-center">
    <div class="card" style="width: 28rem;">
    <div class="card-body">
        {{ form_start(sortieCreateType) }}
    {{ form_row(sortieCreateType.nom) }}
    {{ form_row(sortieCreateType.lieu) }}
    {{ form_row(sortieCreateType.dateHeureDebut) }}
    {{ form_row(sortieCreateType.duree) }}
    {{ form_row(sortieCreateType.dateLimitInscription) }}
    {{ form_row(sortieCreateType.nbInscriptionsMax) }}
    {{ form_row(sortieCreateType.infosSortie) }}
    {{ form_row(sortieCreateType.etat) }}
    <br>
    <button type="submit" class="btn btn-light">Valider</button>
    {{ form_end(sortieCreateType) }}
        <i style="font-size: small">* Champ obligatoire</i><br>

    </div>
    </div>
    </div>
    </div>
    </div>
{% endblock %}