{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Créer une sortie{% endblock %}

{% block body %}
    <div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <p> </p>
        </div>
    </div>
    <div class="row">

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            {{ form_start(lieuType) }}
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Nouveau lieu</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ form_widget(lieuType)}}
                        <button type="button" class="btn btn-light" data-dismiss="modal">Fermer</button>
                        <button class="btn btn-outline-warning" type="submit">Ajouter</button>
                        {{ form_end(lieuType) }}
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
        <!--Modal-->

        <div class="col d-flex justify-content-center">
            <p> </p>
            <h1 class="h3 mb-3 font-weight-normal">Créer une sortie</h1>
        </div>
    </div>

    <div class="row">
    <div class="col-12 d-flex justify-content-center">
    <div class="card" style="width: 28rem;">
    <div class="card-body">
        {{ form_start(sortieCreateType) }}
    {{ form_row(sortieCreateType.lieu) }}
        <button type="button" class="btn btn-outline-warning" style="margin-left: 60%" data-toggle="modal" data-target="#exampleModal">
            Ajouter un lieu
        </button><br>
        {{ form_row(sortieCreateType.nom) }}
    {{ form_row(sortieCreateType.dateHeureDebut) }}
    {{ form_row(sortieCreateType.duree) }}
    {{ form_row(sortieCreateType.dateLimitInscription) }}
    {{ form_row(sortieCreateType.nbInscriptionsMax) }}
    {{ form_row(sortieCreateType.infosSortie) }}

        <i style="font-size: small">* Champ obligatoire</i><br>
    <br>
    <button type="submit" class="btn btn-light" name="createSortie" value="Créée" onclick=window.location.href="{{ path('creer') }}">Enregistrer</button>
        <button type="submit" class="btn btn-outline-warning" name="createSortie" value="Ouverte">Publier</button>
    {{ form_end(sortieCreateType) }}


    </div>
    </div>
    </div>
    </div>
        <br>
        <br>
        <br>
    </div>



{% endblock %}