{% extends 'base.html.twig' %}
{% block body %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    {{ form_start(motifAnnulationForm) }}
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Annulation sortie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Pourquoi souhaitez-vous annuler cette sortie ? </p>
                {{ form_row(motifAnnulationForm.motifAnnulation, {'value' : ''}) }}
                <button type="button" class="btn btn-light" data-dismiss="modal">Fermer</button>

                <button type="submit" class="btn btn-outline-warning"
                        onclick=window.location.href="{{ path('app_sortie_modifiersortie', {'id': sortie.id}) }}">
                    Valider
                </button>

                {{ form_end(motifAnnulationForm) }}
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div>
    <!--liste des infos haut de page-->
    {% if sortie.etat.libelle == 'Annulée' %}
        <p class="alert alert-danger" style="text-align: center"> Sortie Annulée
            : {{ sortie.motifAnnulation }}</p> {% endif %}
    {% if sortie.etat.libelle == 'Clôturée' and sortie.participant.count != sortie.nbInscriptionsMax %}
        <p class="alert alert-danger" style="text-align: center"> La date limite d'inscription pour cette sortie est
            expirée</p>{% endif %}
    {% if sortie.participant.count == sortie.nbInscriptionsMax %}
        <p class="alert alert-danger" style="text-align: center">Plus de places disponibles actuellement pour cette
            sortie</p>{% endif %}
    {#    {% if sortie.etat.libelle == 'Ouverte'and sortie.participant.count != (sortie.nbInscriptionsMax - 1 ) %} #}
    {#        <p class="alert alert-success" style="text-align: center">Il reste des places disponibles pour cette sortie</p>{% endif %} #}
    {% if sortie.etat.libelle == 'Ouverte' and sortie.participant.count == (sortie.nbInscriptionsMax - 1 ) %}
        <p class="alert alert-success" style="text-align: center">Il ne reste plus qu'une seule place pour cette sortie
            !</p>{% endif %}
    {#    {% if sortie.etat.libelle == "Activité en cours" %} #}
    {#        <p class="alert alert-warning" style="text-align: center" >Cette activité est actuellement en cours</p>{% endif %} #}
    {#    {% if sortie.etat.libelle == "Passée" %} #}
    {#        <p class="alert alert-warning" style="text-align: center">Cette activité est terminée</p>{% endif %} #}
    {% if sortie.etat.libelle == "Créée" %}
        <p class="alert alert-warning" style="text-align: center">Cette activité n'est pas encore publiée</p>{% endif %}
    <div>
        <section class="page-section" id="services">

            <div class="container px-4 px-lg-5">
                <br>
                <h2 class="text-center mt-0">Détails de la sortie {{ sortie.nom }}</h2>
                <br>
                <div>
                    {#            <button class="bouttonInfos">Sortie Annulée {{ sortie.motifAnnulation }}</button> #}


                    {% if sortie.etat.libelle == 'Annulée' %}
                        <button class="bouttonInfosAnnulée" disabled="disabled"> Sortie annulée</button>{% endif %}
                    {% if sortie.etat.libelle == 'Clôturée' and sortie.participant.count != sortie.nbInscriptionsMax %}
                        <button class="bouttonInfosCloturée" disabled="disabled"> Sortie clôturée</button>{% endif %}
                    {% if sortie.participant.count == sortie.nbInscriptionsMax %}
                        <button class="bouttonInfosCloturée" disabled="disabled"> Sortie clôturée</button>{% endif %}
                    {% if sortie.etat.libelle == 'Ouverte'and sortie.participant.count != (sortie.nbInscriptionsMax - 1 ) %}
                        <button class="bouttonInfosOuverte" disabled="disabled"> Sortie ouverte</button>{% endif %}
                    {% if sortie.etat.libelle == 'Ouverte' and sortie.participant.count == (sortie.nbInscriptionsMax - 1 ) %}
                        <button class="bouttonInfosOuverte" disabled="disabled"> Sortie ouverte</button>{% endif %}
                    {% if sortie.etat.libelle == "Activité en cours" %}
                        <button class="bouttonInfosEnCours" disabled="disabled"> Sortie en cours</button>{% endif %}
                    {% if sortie.etat.libelle == "Passée" %}
                        <button class="bouttonInfosAnnulée" disabled="disabled"> Sortie passée</button>{% endif %}
                    {% if sortie.etat.libelle == "Créée" %}
                        <button class="bouttonInfosCree" disabled="disabled"> Sortie crée</button>{% endif %}
                    <div>

                    </div>

                    <br>




                    <br>
                    <hr class="divider"/>
                    <br>

                    <p style="text-align: center">Organisée par :<a
                                href="{{ path('utilisateur_profilid', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.pseudo }}</a>
                    </p>
                    <p style="text-align: center">Campus : {{ sortie.campus.nom }}</p>

                    {# codice Ales #}
                    <div class="containerLieu">

                        {% if sortie.etat.libelle == 'Ouverte' %}
                            {% if sortie.organisateur.id != app.user.id %}
                                {% if sortie.dateLimitInscription < "today" or (sortie.participant.count < sortie.nbInscriptionsMax) %}
                                    {% if app.user in sortie.participant %}

                                        <a type="button" class="btn btn-warning btn-sm"
                                              href="{{ path('app_sortie_nonparticipersortie', {'id': sortie.id}) }}">se
                                                désinscrire de la
                                                sortie</a>&nbsp;&nbsp;&nbsp;

                                    {% else %}

                                        <a type="button" class="btn btn-warning btn-sm"
                                              href="{{ path('app_sortie_participersortie', {'id': sortie.id}) }}">participer
                                                à la sortie</a>&nbsp;&nbsp;&nbsp;


                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}

                    </div>

                            {# codice Ales #}
                    </div>
                    <div class="row gx-4 gx-lg-5">
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                                <img src="{{ asset('img/calendrierColor.png') }}" class="imgIcone" alt="calendrier">
                                <h3 class="h4 mb-2">Date et heure <br>de la sortie</h3>
                                <br>
                                <p class=" mb-0" style="color: #EC3F25; font-size: large">
                                    Le {{ sortie.dateHeureDebut | date('d/m/Y à H:i') }}</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                                <img src="{{ asset('img/reveilColor.png') }}" class="imgIcone" alt="reveil">
                                <h3 class="h4 mb-2">Date limite <br> d'inscription</h3>
                                <br>
                                <p class=" mb-0" style="color: #EC3F25; font-size: large">
                                    Le {{ sortie.dateLimitInscription | date('d/m/Y') }}</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                                <img src="{{ asset('img/grouperColor.png') }}" class="imgIcone" alt="groupe">
                                <h3 class="h4 mb-2">Nombre de place restantes</h3>
                                <br>
                                <p class=" mb-0"
                                   style="color: #EC3F25; font-size: large">{{ sortie.nbInscriptionsMax - sortie.participant.count }} </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                                <img src="{{ asset('img/sablierColor.png') }}" class="imgIcone"
                                     alt="barre de chargement">
                                <h3 class="h4 mb-2">Durée <br>de la sortie</h3>
                                <br>
                                <p class=" mb-0"
                                   style="color: #EC3F25; font-size: large">{{ sortie.duree | date('H\\h:i\\m') }}</p>
                            </div>
                        </div>

                    </div>
                    <br>
                    <hr class="divider"/>

                </div>
        </section>

        <p class="descriptionSortie" style="font-size: 30px; font-weight: 3px">Description de la sortie</p>
        <p class="descriptionSortie">{{ sortie.infosSortie }}</p>
        <div class="containerLieu">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header" style="text-align: center"><img src="{{ asset('img/epingleColor.png') }}"
                                                                         class="imgIconeLieu" alt="epingle lieu"></div>
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center">{{ sortie.lieu.nom }}</h5>
                    <p class="card-text" style="text-align: center">{{ sortie.lieu.rue }}</p>
                    <p class="card-text"
                       style="text-align: center">{{ sortie.lieu.ville.codePostal }} {{ sortie.lieu.ville.nom }}</p>
                    <p class="card-text" style="text-align: center">Latitude : {{ sortie.lieu.latitude }}</p>
                    <p class="card-text" style="text-align: center">Longitude : {{ sortie.lieu.longitude }}</p>
                </div>
            </div>
        </div>
        <!-------------------------------------------------------------------->

        <div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <br>
                        <hr class="divider"/>
                        <p class="descriptionSortie" style="font-size: 30px">Liste des inscrits</p>
                        <br>
                        <div class="card">
                            <h5 class="card-header">Liste des participants inscrits</h5>
                            <div class="card-body">
                                <div class="custom-table">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col">Pseudo</th>
                                            <th scope="col">Nom</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for participant in sortie.participant %}
                                            <tr>
                                                <td>
                                                    <a href="{{ path('utilisateur_profilid', {'id': participant.id}) }}">{{ participant.pseudo }}</a>
                                                </td>
                                                <td>{{ participant.prenom }} {{ participant.nom | upper }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div  class="containerLieu">
                    {% if sortie.organisateur.id == app.user.id  and  sortie.etat.libelle != 'Annulée' and sortie.etat.libelle != 'Passée' %}
                        <a type="bouton" class="btn btn-danger "
                           href="{{ path('app_sortie_modifiersortie', {'id': sortie.id}) }}">Modifier la sortie</a>&nbsp;&nbsp;&nbsp;
                    {% endif %}
                    {% if is_granted("ROLE_ADMIN") and  sortie.etat.libelle != 'Annulée' and sortie.etat.libelle != 'Passée' %}
                        <a type="bouton" class="btn btn-danger"
                           href="{{ path('app_sortie_modifiersortie', {'id': sortie.id}) }}">Modifier la sortie</a>&nbsp;&nbsp;&nbsp;
                    {% endif %}
                    {% if sortie.organisateur.id == app.user.id  and  sortie.etat.libelle != 'Annulée' and sortie.etat.libelle != 'Passée' %}
                        {#                        <div class="col text-center">#}
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                            Annuler la sortie
                        </button>&nbsp;&nbsp;&nbsp;
                    {% endif %}
                    {% if is_granted("ROLE_ADMIN") and  sortie.etat.libelle != 'Annulée' and sortie.etat.libelle != 'Passée' %}
                        <button type="button" class="btn btn-secondary " data-toggle="modal"
                                data-target="#exampleModal">
                            Annuler la sortie
                        </button>&nbsp;&nbsp;&nbsp;
                    {% endif %}
                </div>
                <br>
            </div>
            <br>
        </div>
    </div>



    <br>

{#<div class="container">#}
{#    <div class="row justify-content-center">#}
{#        <div style="margin-bottom: 50px; margin-left: 100%">#}
{#            {% if sortie.organisateur.id == app.user.id  and  sortie.etat.libelle != 'Annulée' and sortie.etat.libelle != 'Passée' %}#}
{#                <a type="bouton" class="btn btn-outline-danger"#}
{#                   href="{{ path('app_sortie_modifiersortie', {'id': sortie.id}) }}">Modifier la sortie</a>#}
{#            {% endif %}#}
{#            {% if is_granted("ROLE_ADMIN") and  sortie.etat.libelle != 'Annulée' and sortie.etat.libelle != 'Passée' %}#}
{#                <a type="bouton" class="btn btn-outline-danger"#}
{#                   href="{{ path('app_sortie_modifiersortie', {'id': sortie.id}) }}">Modifier la sortie</a>#}
{#            {% endif %}#}
{#            {% if sortie.organisateur.id == app.user.id  and  sortie.etat.libelle != 'Annulée' and sortie.etat.libelle != 'Passée' %}#}
{#            <div class="col text-center">#}
{#                <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal">#}
{#                    Annuler la sortie#}
{#                </button>#}
{#                {% endif %}#}
{#                {% if is_granted("ROLE_ADMIN") and  sortie.etat.libelle != 'Annulée' and sortie.etat.libelle != 'Passée' %}#}
{#                    <button type="button" class="btn btn-outline-danger" data-toggle="modal"#}
{#                            data-target="#exampleModal">#}
{#                        Annuler la sortie#}
{#                    </button>#}
{#                {% endif %}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

        {% endblock %}


