{% extends 'base.html.twig' %}
{% block body %}
    <h4>Détails de la sortie {{ sortie.nom }}</h4>
    <!--<p>Nom de la sortie :{#  {{ sortie.nom }}#}</a></p> doublon avec la ligne précédente-->
    <p>Organisée par :<a href="{{ path('utilisateur_profilid', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.pseudo }}</a></p>
    <p>Date et Heure de la sortie : Le {{ sortie.dateHeureDebut | date('d/m/Y à H:i') }}</p>
    <p>Date limite d'inscription : {{ sortie.dateLimitInscription | date('d/m/Y') }}</p>
    <p>Nombre de places restantes : {{ sortie.nbInscriptionsMax - sortie.participant.count }} / {{ sortie.nbInscriptionsMax }}</p>
    <p>Durée : {{ sortie.duree | date('H\\h:i\\m')}}</p>
    <p>Informations : {{ sortie.infosSortie }}</p>
    <p>Campus : {{ sortie.campus.nom }}</p>
    <p>Lieu : {{ sortie.lieu.nom }}</p>
    <p>Rue : {{ sortie.lieu.rue }}</p>
    <p>Ville : {{ sortie.lieu.ville.codePostal }} {{ sortie.lieu.ville.nom }}</p>
    <p>Latitude : {{ sortie.lieu.latitude }}</p>
    <p>Longitude : {{ sortie.lieu.longitude }}</p>
    <a type="bouton" class="btn btn-outline-warning" href="{{ path('app_sortie_modifiersortie', {'id': sortie.id}) }}">Modifier la sortie</a>
    <br>
    <!--bouton Modal -->
    <!--<button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#exampleModal">
        Supprimer une sortie
    </button>-->

        <!--bouton Modal -->


{#    codice Ales#}
    <p></p>
    <a type="button" class="btn btn-outline-warning" href="{{ path('app_sortie_participersortie', {'id': sortie.id}) }}">participer à la sortie</a>
    <p></p>
    {#    codice Ales#}


    <h5>Liste des participants inscrits</h5>
<div class="custom-table">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Pseudo</th>
            <th scope="col">Nom</th>
        </tr>
        </thead>
        <tbody>
        {% for participant in sortie.participant %}
        <tr>
            <td><a href="{{ path('utilisateur_profilid', {'id': participant.id}) }}">{{participant.pseudo}}</a></td>
            <td>{{ participant.prenom }} {{ participant.nom | upper }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Nouveau lieu</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Etes-vous sûr de vouloir supprimer cette sortie ? </p>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button class="btn btn-light" onclick=window.location.href="{{ path('app_sortie_supprimersortie', {'id': sortie.id }) }}">supprimer</button>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    <!-- Modal -->
{% endblock %}



