{% extends 'base.html.twig' %}
{% block body %}
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        {{ form_start(motifAnnulationForm) }}
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Annulation sortie</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Pourquoi souhaitez-vous annuler cette sortie ? </p>
                    {{ form_row(motifAnnulationForm.motifAnnulation, {'value' : '*****'})}}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>

                    <button type="submit" class="btn btn-outline-warning" onclick=window.location.href="{{ path('app_sortie_modifiersortie', {'id': sortie.id}) }}">Valider</button>

                    {{ form_end(motifAnnulationForm) }}
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->

{#    <h4>Détails de la sortie {{ sortie.nom }}</h4>#}
{#    <br>#}
{#    <!--liste des infos haut de page-->#}
{#    {%if sortie.etat.libelle == 'Annulée'%}#}
{#        <p class="alert alert-danger"> Sortie Annulée : {{ sortie.motifAnnulation }}</p> {% endif %}#}
{#    {% if sortie.etat.libelle == 'Clôturée' and sortie.participant.count != sortie.nbInscriptionsMax  %}#}
{#        <p class="alert alert-danger"> La date limite d'inscription pour cette sortie est expirée</p>{% endif %}#}
{#    {% if sortie.participant.count == sortie.nbInscriptionsMax %}#}
{#        <p class="alert alert-danger">Plus de places disponibles actuellement pour cette sortie</p>{% endif %}#}
{#    {% if sortie.etat.libelle == 'Ouverte'and sortie.participant.count != (sortie.nbInscriptionsMax - 1 ) %}#}
{#        <p class="alert alert-success" >Il reste des places disponibles pour cette sortie</p>{% endif %}#}
{#    {% if sortie.etat.libelle == 'Ouverte' and sortie.participant.count == (sortie.nbInscriptionsMax - 1 )%}#}
{#        <p class="alert alert-success" >Il ne reste plus qu'une seule place pour cette sortie !</p>{% endif %}#}
{#    {% if sortie.etat.libelle == "Activité en cours" %}#}
{#        <p class="alert alert-warning" >Cette activité est actuellement en cours</p>{% endif %}#}
{#    {% if sortie.etat.libelle == "Passée" %}#}
{#        <p class="alert alert-warning" >Cette activité est terminée</p>{% endif %}#}
{#    {% if sortie.etat.libelle == "Créée" %}#}
{#        <p class="alert alert-warning" >Cette activité n'est pas encore publiée</p>{% endif %}#}

    <!----------------------------------------------------------->


    <section class="page-section" id="services">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-0">Détails de la sortie {{ sortie.nom }}</h2>
            <hr class="divider" />
            <p style="text-align: center">Organisée par :<a href="{{ path('utilisateur_profilid', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.pseudo }}</a></p>
            <p style="text-align: center">Campus : {{ sortie.campus.nom }}</p>
            <!--liste des infos haut de page-->
            {%if sortie.etat.libelle == 'Annulée'%}
                <p class="alert alert-danger" style="text-align: center"> Sortie Annulée : {{ sortie.motifAnnulation }}</p> {% endif %}
            {% if sortie.etat.libelle == 'Clôturée' and sortie.participant.count != sortie.nbInscriptionsMax  %}
                <p class="alert alert-danger" style="text-align: center"> La date limite d'inscription pour cette sortie est expirée</p>{% endif %}
            {% if sortie.participant.count == sortie.nbInscriptionsMax %}
                <p class="alert alert-danger" style="text-align: center">Plus de places disponibles actuellement pour cette sortie</p>{% endif %}
            {% if sortie.etat.libelle == 'Ouverte'and sortie.participant.count != (sortie.nbInscriptionsMax - 1 ) %}
                <p class="alert alert-success" style="text-align: center">Il reste des places disponibles pour cette sortie</p>{% endif %}
            {% if sortie.etat.libelle == 'Ouverte' and sortie.participant.count == (sortie.nbInscriptionsMax - 1 )%}
                <p class="alert alert-success" style="text-align: center">Il ne reste plus qu'une seule place pour cette sortie !</p>{% endif %}
            {% if sortie.etat.libelle == "Activité en cours" %}
                <p class="alert alert-warning" style="text-align: center" >Cette activité est actuellement en cours</p>{% endif %}
            {% if sortie.etat.libelle == "Passée" %}
                <p class="alert alert-warning" style="text-align: center">Cette activité est terminée</p>{% endif %}
            {% if sortie.etat.libelle == "Créée" %}
                <p class="alert alert-warning" style="text-align: center">Cette activité n'est pas encore publiée</p>{% endif %}
            <div class="row gx-4 gx-lg-5">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Date et heure de la sortie</h3>
                        <p class="text-muted mb-0"><p> Le {{ sortie.dateHeureDebut | date('d/m/Y à H:i') }}</p></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Date limite d'inscription</h3>
                        <p class="text-muted mb-0">Le {{ sortie.dateLimitInscription | date('d/m/Y') }}</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Nombre de place restantes</h3>
                        <p class="text-muted mb-0">{{ sortie.nbInscriptionsMax - sortie.participant.count }}</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Durée de la sortie</h3>
                        <p class="text-muted mb-0">{{ sortie.duree | date('H\\h:i\\m')}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

            <p class="descriptionSortie" style="font-size: 30px">Description de la sortie</p>
            <p class="descriptionSortie">{{ sortie.infosSortie }}</p>
<div class="containerLieu">
    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header" style="text-align: center">Adresse de la sortie</div>
        <div class="card-body">
            <h5 class="card-title" style="text-align: center">{{ sortie.lieu.nom }}</h5>
            <p class="card-text" style="text-align: center">{{ sortie.lieu.rue }}</p>
            <p class="card-text" style="text-align: center">{{ sortie.lieu.ville.codePostal }} {{ sortie.lieu.ville.nom }}</p>
            <p class="card-text" style="text-align: center">Latitude : {{ sortie.lieu.latitude }}</p>
            <p class="card-text" style="text-align: center">Longitude : {{ sortie.lieu.longitude }}</p>
        </div>
    </div>
</div>
    <!----------------------------------------------------------->
{#    <br>#}
{#    <p>Organisée par :<a href="{{ path('utilisateur_profilid', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.pseudo }}</a></p>#}
{#    <p>Date et Heure de la sortie : Le {{ sortie.dateHeureDebut | date('d/m/Y à H:i') }}</p>#}
{#    <p>Date limite d'inscription : {{ sortie.dateLimitInscription | date('d/m/Y') }}</p>#}
{#    <p>Nombre de places restantes : {{ sortie.nbInscriptionsMax - sortie.participant.count }}</p>#}
{#    <p>Durée : {{ sortie.duree | date('H\\h:i\\m')}}</p>#}
{#    <p>Informations : {{ sortie.infosSortie }}</p>#}
{#    <p>Campus : {{ sortie.campus.nom }}</p>#}
{#    <p>Lieu : {{ sortie.lieu.nom }}</p>#}
{#    <p>Rue : {{ sortie.lieu.rue }}</p>#}
{#    <p>Ville : {{ sortie.lieu.ville.codePostal }} {{ sortie.lieu.ville.nom }}</p>#}
{#    <p>Latitude : {{ sortie.lieu.latitude }}</p>#}
{#    <p>Longitude : {{ sortie.lieu.longitude }}</p>#}
{#    <br>#}

    <!--bouton Modal-->


    {% if sortie.organisateur.id == app.user.id and  sortie.etat.libelle != 'Annulée'%}
        <div class="col text-center">
        <button type="button" class="btn btn-outline-warning " data-toggle="modal" data-target="#exampleModal">
            Annuler la sortie
        </button>
        </div>
    {% endif %}
    {%if is_granted("ROLE_ADMIN") and  sortie.etat.libelle != 'Annulée' %}
        <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#exampleModal">
            Annuler la sortie
        </button>
    {% endif %}

    <br>
    <!--bouton Modal -->

    <!--bouton modifier sortie-->
<div class="row justify-content-center">
    <div class="col-xl-6">
    {% if is_granted("ROLE_ADMIN") or sortie.organisateur.id == app.user.id %}
        <p><a type="bouton" class="btn btn-outline-warning " href="{{ path('app_sortie_modifiersortie', {'id': sortie.id}) }}">Modifier la sortie</a></p>
    {% endif %}
    </div>
</div>
    <!---->

 {#codice Ales#}

    {% if sortie.etat.libelle == 'Ouverte' %}
        {% if sortie.organisateur.id != app.user.id %}
            {% if sortie.dateLimitInscription < "today" or (sortie.participant.count < sortie.nbInscriptionsMax) %}

                {% if app.user in sortie.participant %}

                    <p><a type="button" class="btn btn-outline-warning"
                          href="{{ path('app_sortie_nonparticipersortie', {'id': sortie.id}) }}">se désinscrire de la
                            sortie</a></p>

                {% else %}

                    <p><a type="button" class="btn btn-outline-warning"
                          href="{{ path('app_sortie_participersortie', {'id': sortie.id}) }}">participer à la sortie</a>
                    </p>

                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}



    {#    codice Ales#}

    <br>
    <h5 style="text-align: center">Liste des participants inscrits</h5>
<div class="row justify-content-center">
    <div class="col-lg-8 col-xl-10">
    <div class="custom-table">
        <table class="table table-striped ">
            <thead>
            <tr>
                <th scope="col">Pseudo</th>
                <th scope="col">Nom</th>
            </tr>
            </thead>
            <tbody>
            {% for participant in sortie.participant %}
                <tr>
                    <td><a href="{{ path('utilisateur_profilid', {'id': participant.id}) }}">{{participant.pseudo}}</a></td>
                    <td>{{ participant.prenom }} {{ participant.nom | upper }}</td>
                </tr>
            {% endfor  %}
            </tbody>
        </table>
    </div>
    </div>
</div>

{% endblock %}



