<nav>
    <div id="logodiv">
        <img id="logo" src="{{ asset('img/logo.png') }}" alt="logo Sortir">
        <p>Sortir.com</p>
    </div>

    <button id="burger" class="burger">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </button>

    <ul class="nav_list">
        <li class="nav_item"><a href="{{ path('main_accueil') }}">Accueil</a></li>
        {% if app.user %}
        <li class="nav_item"><a href="#">Mon profil</a></li>
        <li class="nav_item"><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
        {% else %}
        <li class="nav_item"><a href="{{ path('app_login') }}">Connexion</a></li>
        <li class="nav_item"><a href="{{ path('app_register') }}">Inscription</a></li>
        {% endif %}
    </ul>
</nav>